/* regras para o site todo */

*{    box-sizing: border-box;}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background-image: url(../imagens/oriental-tiles.png); */
    background-attachment: fixed;
    background-image:  linear-gradient(43deg, #aebaf1 0%, #df93da 46%, #ddc59b 100%);
    ;
}

img {
    max-width: 100%;
}

.container {
    background-color: rgba(250, 246, 246, 0.6);
    width: 70%;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgb(0, 47, 255) 10px 10px 30px 10px;
    
   

}

/* exercicios 👾 */
/* Adicione propriedades para:
- Efeito de cor de fundo (use 3 cores à sua escolha) 
- Espaçamento interno de 4%
- Largura de 90%
- Bloco centralizado
- Bordas somente superior e inferior (cor, tamanho, tipo à sua escolha)
- Sombra com configurações à sua escolha (a cor deve ter um pouco de transparência) */
/* 2) Aplique a classe nas duas divs da página index. */

.listas {
    margin: auto;
    background: linear-gradient(aqua, yellow, burlywood);
    width: 80%;
    padding: 2%;
    box-shadow: green 0px 0px 20px 10px inset;
    border-color: black;
    border-bottom: solid;
    border-top: solid;
    border-width: 10px;
    border-radius: 5px;

}

.centralizar {
    text-align: center;
}

figure {

    text-align: center;
    /* background-color: red; */
    max-width: 419px;
    margin: 0 auto;
    position: relative;

    transform: scale(0.95) rotate(1deg) translateY(2px);
    filter: grayscale();
    transition: 1s;
    clip-path: circle(50%);
}

figcaption {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    /* tornando o elemento absoluto.
    agora ele esta solto podendo receber qualquer coordenada */
    position: absolute;
    /* propriedades coordenadas: top,botton,left e right */

    /* opção 1 use left/right */
    right: 0;
    left: 0;

    /* opção 2 largura de 100% */
    width: 100%;

    bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

figure img {

    border: solid 1px;
    box-shadow: 10px 10px 10px;
}

figure:hover {
    filter: none;
    transform: scale(1);
    clip-path:none;



}


ol li {
    font-weight: bold;
    font-size: 18px;

}

ul li {
    list-style-type: square;
    color: white;
}

ul li a {

    color: brown;
    text-shadow: 3px 3px 3px;
    text-decoration: none;
}


ul li::marker {

    content: "👻";
    font-size: 16px;

}

ul li:first-child {
    background-color: blueviolet;
}

ul li:last-child {
    background-color: red;
}

ul li:nth-child(4) {
    background-color: aqua;
}

details {

    border: solid 5px;
    border-color: darkolivegreen;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;


}

details ::marker {
    content: "🤔";
    font-size: 20px;
}

details[open] summary::marker {
    content: "😲";
    font-size: 20px;

}

summary {
    font-weight: bold;
}

h1 {
    font-size: 4em;
    /* Tamanho grande para destaque */
    color: #333;
    /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.39), 0 0 25px rgba(0, 0, 0, 0.1);
    /* Sombra de texto */
    font-weight: bold;
    /* Negrito para maior impacto */
    text-transform: uppercase;
    /* Transformar texto em maiúsculas */
    letter-spacing: 1px;
    /* Espaçamento entre letras */
    padding: 0.5em 1em;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    background: linear-gradient(135deg, #5f97ff, #887bfe);
    /* Gradiente de fundo */
    color: #ffffff79;
    /* Cor do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.452);
    /* Sombra ao redor do elemento */
    text-align: center;
}


nav{
    text-align: center;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(0, 60, 139);
    color: white;
    display: inline-block;
    width:33.33%;
    padding: 1px;
    transition: .5s;
    
}

nav a:hover,nav a:focus{
    background-color: burlywood;
    transform: translatey(-10px);
}

.flutuar-imagem { 
    float: left;
    margin-right: 12px;
}

.voltar{
    background-color: #5f97ff;
    width: 30%;
    transition: .5s;
    border-radius: 5px;
    
}

.voltar:hover,.volar:focus{
    background-color: burlywood;
    transform: translateX(10px);

    
}

.voltar a{
    color: #333;
    text-shadow: 10px 10px 10px;
    text-transform:capitalize;
    margin: 5px;
    text-decoration: none;
  
}

.voltar a::after {
    content: "➡";
    opacity: 0;
}

.voltar a:hover:after{
    content: "➡";
    opacity: 2;
}

p {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    font-size: 15px; 
}

h2{
    margin:10px;
    color:rgba(0, 0, 255, 0.575);
    font-size: 30px;
   

}

hr{
    border: solid;
    color: #5f97ff48;
}

h3{
    margin: 10px;
    color: rgba(128, 30, 255, 0.671);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    
}

h4{ 
    margin: 5px;

    font-size: 20px;
    color: #4f3e80c7;

}

.editar-clip{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

b{
    font-size: large
}

.editar-clip:hover{
    clip-path: none;
}

/* regra de animação */

@keyframes cores {
    from{
        color: red;
        transform: translate3d(1000px)
    } 
    
    to{
        color: greenyellow;
        transform: scale(1.2);
    
    }

}

.animacao-cores{
    will-change: transform;
    animation-name: cores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1 span {
    display:inline-block
}